/* resets page to default margins
will allow for more creative control later */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lucida Sans Unicode";
}

#page-title {
}

.math-title {
    height: 50px; /* temp; was j annoyingly big lol */
    background-image: url("https://www.pinterest.com/pin/175570085469363205/");
}
 
.compsci-title {
    background-image: url("https://i.pinimg.com/736x/e3/18/1a/e3181a811c4d8340eccc86fa1852083a.jpg"); /* note: find diff photo */
}

/* notes for coy to read:
- any code styling feedback is wanted and welcome (ie. how i write comments, etc)
- in the css file, i think we should try to use % instead of px bc 
i think it's better w changing screen sizes
*/

/* table section begins */

.table-container {
    max-height: 60vh; /* viewport height; more reliable for responsive designs */
    overflow-y: scroll;
    border: 2px solid rgb(255, 0, 166);
    margin: 5%;
}

/* since scrollbars are browser dependent, need webkit to style */
.table-container::-webkit-scrollbar {
    width: 4%;
}
.table-container::-webkit-scrollbar-thumb {
    background-color: pink;
}

.table {
    margin: 5% auto; /* centers table */
    table-layout: fixed; /* means browser doesn't need to inspect details, so super fast. use when want even spacing */
}

.table, th, td {
    border: 5px solid #df83ae;
    width: 90%;
    border-collapse: collapse; /* makes th and td border's combine into 1 border */
}

th, td {
    text-align: center;
    padding: 3%; /* relative to width of containing block (thead, tbody) */
}

th {
    background-color: rgb(245, 230, 240);
}

/* table section ends */