
/* -------- GENERAL STYLING -------- */

* { /* resets page to default margins */
    margin: 0;
    padding: 0;
}

body {
    /* font-family: "Lucida Sans Unicode"; */
    background-color: #EEEEEE;
    /* new website font */
    font-family: "Quattrocento", serif;
    font-weight: 400;
    font-style: normal;
}

.main {
    position: relative;
    top: 30px;
}

a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

/* a:visited {
    color: purple;
} */

/* -------- NAVIGATION HEADER -------- */

.nav-header {
    border: 3px solid hsl(339, 100%, 87%);
    border-radius: 4px;
    display: flex;
    position: fixed;
    width: 100%;
    height: 30px;
}

.nav-button {
    margin: 2px auto;
    padding: 3px;
    border: 4px;
    border-style: none none outset double;
    border-color: rgb(216, 98, 117);
}

.nav-button:hover {
    background-color:hsl(339, 100%, 87%);
    opacity: 70%;
    border-radius: 7px;
}

/* -------- MAIN PAGE HEADER -------- */

#page-title {
    border: solid black 2px;
    border-radius: 4px;
}

/* -------- PAGE HEADERS -------- */

.topics-container {
    display: flex;
    justify-content: space-evenly;
    margin: 1em 0em;  /* (top and bottom) (left and right) */
}

/* not done styling yet, but i think this is a good start */
.topic-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
}

#about-title {
    background-image: url(../photos/coy_and_noor.jpeg);
    color: white;
    -webkit-text-stroke: .25px pink;
}

#math-title {
    background-image: url(../photos/math.jpeg);
    background-size: cover;
    color: #EEEEEE;
    -webkit-text-stroke: .25px pink;
}
 
#compsci-title {
    background-image: url(../photos/compsci.jpeg);
    -webkit-text-stroke: .25px pink;
}

#tbr-title {
    background-image: url(../photos/books.jpeg);
    color: rgb(177, 164, 164);
    -webkit-text-stroke: .25px pink;
}

/* -------- TABLE OF TOPICS TO STUDY -------- */

.table-container {
    max-height: 60vh; /* viewport height; more reliable for responsive designs */
    overflow-y: scroll;
    border: 2px solid rgb(255, 0, 166);
    margin: 5%;
    border-radius: 10px;
}

/* since scrollbars are browser dependent, need webkit to style */
.table-container::-webkit-scrollbar {
    width: 4%;
}
.table-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: pink;
}

.table {
    margin: 5% auto; /* centers table */
    table-layout: fixed; /* means browser doesn't need to inspect details, so super fast. use when want even spacing */
}

.table, th, td {
    border: 5px solid #df83ae;
    width: 90%;
    border-collapse: collapse; /* makes th and td border's combine into 1 border */
}

th, td {
    text-align: center;
    padding: 3%; /* relative to width of containing block (thead, tbody) */
}

th {
    background-color: rgb(245, 230, 240);
}